/** HEADER **/
body{
  box-sizing: border-box;
}
#header-nav {
  background-color: grey;
  border-radius: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.navbar-collapse{
  border-top:0px;
  box-shadow:none;
} 
#nav-list{
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a{
  border-top: 2px solid black;
  text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  background-color: grey; 
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand {
  padding-top: 15px;
}
.padded-col{
  margin-top: 25px;
}
.btitle{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 10px;
}
#menu{
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 30px;
}
#main-content.container-fluid{
  margin-left: 20px;
  margin-right: 20px;
}
#header-nav, .container-fluid{
  margin: 0;
}
.row{
  margin-bottom: 15px;
}
.row > div{
  background-color: gray;
  min-height: 1000px;
}
#main-content.container-fluid{
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .collapsing, .in {
    background-color: white;
  }
  .collapsing ul li a, .in ul li a {
    color: #555!important;
  }
  .collapsing ul li a:hover, .in ul li a:hover {
    color: black!important;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: grey;
  }
  #header-nav.container-fluid{
    margin-bottom: 0;
  }
}