.row{
	margin-bottom: 15px;
}
.row > div{
	background-color: gray;
  height: 2000px;
}
/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.navbar-collapse{
  border-top:0px !important;
  box-shadow:none;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {color: black;}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {color: white; background-color: grey;}

@media only screen and (max-width: 768px) {
.collapsing, .in {background-color: white;}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}

#nav-list{
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list a{
  border-top: 2px solid black;
  /* border-bottom: 1px solid black; */
  text-align: center;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: grey;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand {
  padding-top: 15px;
}
.padded-col{
  margin-top: 25px;
}
.btitle{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 10px;
}
#menu{
  margin-top: 10px;
  margin-bottom: 30px;
}
#main-content, .container-fluid{
  margin-left: 20px;
  margin-right: 20px;
}
#header-nav, .container-fluid{
  margin: 0;
}

@media (max-width: 768px) {
  #main-content, .container-fluid{
    margin-left: 50px;
    margin-right: 50px;
  }  
  #header-nav, .container-fluid{
    margin-right: -1px;
    margin-left: -2px;
    margin-bottom: 0;
  }
  .navbar-brand h1 {
    margin-left: 20px;
  }
}